a{
    text-decoration:none; color:inherit; cursor: pointer;
}
.right_area .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: calc(100vw * (45 / 1920));*/
    /*height: calc(100vw * (45 / 1920));*/
    width: 26px;
    height: 26px;

    border-radius: 50%;
    border: solid 2px #eaeaea;
    background-color: #fff;
}

.icon.heart img{
    /*width: calc(100vw * (24 / 1920));*/
    /*height: calc(100vw * (24 / 1920));*/
    width: 15px;
    height: 15px;
}

.icon.heart.fas{
    color:red
}
.heart{
    transform-origin: center;
}
.heart.active img{
    animation: animateHeart .3s linear forwards;
}

@keyframes animateHeart{
    0%{transform:scale(.2);}
    40%{transform:scale(1.2);}
    100%{transform:scale(1);}
}

.btn-outline-post-create {
    color: #60a662;
    border-color: #60a662;
}

.btn-outline-post-create:hover {
    color: #FFF;
    background-color: #60a662;
    border-color: #60a662;
}

.btn-check:focus + .btn-outline-post-create, .btn-outline-post-create:focus {
    box-shadow: 0 0 0 0.25rem rgba(96, 166, 98, 0.5);
}

.btn-check:checked + .btn-outline-post-create,
.btn-check:active + .btn-outline-post-create, .btn-outline-post-create:active, .btn-outline-post-create.active, .btn-outline-post-create.dropdown-toggle.show {
    color: #FFF;
    background-color: #60a662;
    border-color: #60a662;
}

.btn-check:checked + .btn-outline-post-create:focus,
.btn-check:active + .btn-outline-post-create:focus, .btn-outline-post-create:active:focus, .btn-outline-post-create.active:focus, .btn-outline-post-create.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(96, 166, 98, 0.5);
}

.btn-outline-post-create:disabled, .btn-outline-post-create.disabled {
    color: #60a662;
    background-color: transparent;
}