<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="messageArea">

    </div>

    <div class="input-group clearfix">
        <input type="text" id="message" placeholder="" autocomplete="off" class="form-control"/>
        <button type="button" class="primary" onclick="sendMessage()">Send</button>
    </div>

</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    let usernamePage = document.querySelector('#username-page');
    let chatPage = document.querySelector('#chat-page');
    let usernameForm = document.querySelector('#usernameForm');
    let messageForm = document.querySelector('#messageForm');
    let messageInput = document.querySelector('#message');
    let messageArea = document.querySelector('#messageArea');
    let connectingElement = document.querySelector('.connecting');


    let stompClient = null;;

    let colors = [
        '#2196F3', '#32c787', '#00BCD4', '#ff5652',
        '#ffc107', '#ff85af', '#FF9800', '#39bbb0'
    ];

    const url = new URL(location.href).searchParams;
    let roomId = url.get('roomId');
    roomId = 1;

    //토큰
    const accessToken = localStorage.getItem("accessToken");

    if(accessToken == null) {
        location.href="/";
    }

    const payload = accessToken.split('.')[1];
    const memberId = JSON.parse(atob(payload)).memberId;
    const userName = JSON.parse(atob(payload)).userName;

    let header = {
        Authorization : "Bearer " + accessToken
    };

    //서버 연결
    let socket = new SockJS('/ws', null, {headers: {'Authorization': header}});
    stompClient = Stomp.over(socket);


    /*let socket2 = new SockJS('/ws/list');
    let stompClient2 = Stomp.over(socket2);

    stompClient2.connect(header,onConnected2(),onError());

    function onConnected2() {
        stompClient.subscribe('/sub/list/chat/room/'+roomId, onMessageReceived2,header);
    }

    function onMessageReceived2(payload) {
        let data = JSON.parse(payload.body);
        console.log("채팅 리스트"+data)
    }

    console.log(`header : ${header}`);*/

    stompClient.connect(header,onConnected,onError);

    function onConnected() {
        stompClient.subscribe('/sub/chat/room/'+roomId, onMessageReceived,header);

        stompClient.subscribe('/sub/list/chat/room/'+roomId, onMessageReceived2,header);

        stompClient.send("/pub/chat/enter",
            header,
            JSON.stringify({
                'roomId':roomId,
                'memberId':memberId,
                'userName':userName,
                'chatType':'JOIN'
            }));
    }

    function onMessageReceived2(payload) {
        let data = JSON.parse(payload.body);
        console.log("on message received2 : "+payload);
        console.log("채팅 리스트"+data)
    }

    function onMessageReceived(payload) {
        let message = JSON.parse(payload.body);

        if(message.type === 'JOIN') {
            console.log("입장");
        } else if (message.type === 'LEAVE') {
            console.log("퇴장");
        } else if (message.type === 'LIST') {
            console.log("채팅방 리스트 업데이트")
        } else {
            if(!(message.memberId === memberId))
                $('#messageArea').append(message.message);
        }

    }

    function onError() {

    }

    function sendMessage() {
        let messageContent = messageInput.value.trim();
        if(messageContent && stompClient) {
            let chatMessage = {
                'roomId':roomId,
                'memberId':memberId,
                'userName':userName,
                'message': messageInput.value,
                chatType: 'CHAT'
            };
            stompClient.send("/pub/chat/sendMessage", header, JSON.stringify(chatMessage));

            $('#messageArea').append(messageInput.value);

            messageInput.value = '';
        }
    }

    messageForm.addEventListener('submit', sendMessage, true)

</script>