:root {
    --position: relative;
    --background-image: 속성;
    --background-size: cover;
    --background-position: center;
    --width: 240px;
    --height: 240px;
    --border-radius: 50%;

}

.pic-wrap {
    position: relative;
    /*background-image: url(어떻게 js에 있는 내용을 담을지 고민중);*/
    background-size: cover;
    background-position: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
}