.pic-wrap {
    /* position: relative; */
    background-image: url(https://bucketlist-post-image-bucket.s3.ap-northeast-2.amazonaws.com/postImage/00d60e84-80e0-4723-8902-021c8e0a56b3.png);
    background-size: cover;
    background-position: center;
    width: 190px;
    height: 190px;
    border-radius: 50%;
}

.pic-btn {
    border: 0;
    background-color: transparent;
    transition: 0.3s;
    position: absolute;
    opacity: 100;
    cursor: pointer;
}

.pic-btn:hover {
    color: #ff891f;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 550px;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* !-- 모달창 내부 (파일 업로드) */
.modal-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#imagePreview {

    margin-top: 20px;
}

.thumbnail {
    height: 200px;
    width: 200px;
    margin: 20px;
    padding-left: 20px;
    float: left;
}

.thumbnail img {
    height: 100%;
    width: 100%;
}

.form-group {
    width: 300px;
}

.left-image {
    width: 30%;
    height: 150px;
    float: left;
    margin-right:10px;
}

.right-information {
    width: 65%;
    height: 150px;
    float: left;
}

.distance {
    clear: both;
}

.review-username{
    margin-bottom: 2px;
    font-weight: 600;
    color: black;
    display:inline-block;
    font-size: 13px;
    margin-right: 8px;
}

.review-content{
    margin-bottom: 3px;
    color: black;
    font-size: 13px;
    min-height: 42px;
}

.review-rate{
    margin-bottom: 3px;
    color: #ff891f;
    display:inline-block;
    font-size: 12px;
    margin-right: 8px;
}

.review-date{
    margin-bottom: 0px;
    font-size: 10px;
    color: #979797;
    display:inline-block;
    margin-right: 8px;
}