<!DOCTYPE html>

<html lang="ko">
<head>
    <title>구글지도사용하기</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- 서버에서 해당 포스트의 데이터를 받아옴 -->
    <script>
     $(document).ready(function(){
         let postId = JSON.parse(localStorage.getItem("postId"));
         localStorage.removeItem("postId");
         alert("이전 페이지에서 넘어온 param :"+postId);


         // axios header에 넣을 데이터
         const axiosConfig = {
             headers:{
                 "Content-Type": "application/json"
             }
         }

         let jsonResult;        // Json 결과값
         let jsonData;

         const getdata = async()=>{
             try{
                 const response = await axios.get('/post/'+postId+'/json');
                 alert("server로부터 데이터 받아옴");
                 console.log(response);     // json 데이터 받아온거
                 console.log(response.data.result.location)

             }catch (ERROR){
                 alert("404 에러");
             }
         }

         getdata();

         // 지도
//          var lat = [[${lat}]];
//          var lng = [[${lng}]];
//          var location = [[${location}]];
//          console.log(lat);
//          console.log(lng);
//
//          var Y_point			= lat;		// Y 좌표
//          var X_point			= lng;		// X 좌표
//          var zoomLevel		= 18;				// 지도의 확대 레벨 : 숫자가 클수록 확대정도가 큼
//          var markerTitle		= location;		// 현재 위치 마커에 마우스를 오버을때 나타나는 정보
//          var markerMaxWidth	= 300;				// 마커를 클릭했을때 나타나는 말풍선의 최대 크기
//
// // 말풍선 내용
//          var contentString	= '<div>' +
//              '<h2>테스트입니다</h2>'+
//              '<p>안녕하세요. 구글지도입니다.</p>' +
//
//              '</div>';
//          var myLatlng = new google.maps.LatLng(Y_point, X_point);
//          var mapOptions = {
//              zoom: zoomLevel,
//              center: myLatlng,
//              mapTypeId: google.maps.MapTypeId.ROADMAP
//          }
//          var map = new google.maps.Map(document.getElementById('map_ma'), mapOptions);
//          var marker = new google.maps.Marker({
//              position: myLatlng,
//              map: PostDetail,
//              title: markerTitle
//          });
//          var infowindow = new google.maps.InfoWindow(
//              {
//                  content: contentString,
//                  maxWizzzdth: markerMaxWidth
//              }
//          );
//          google.maps.event.addListener(marker, 'click', function() {
//              infowindow.open(AxiosPostDetail, marker);
//          });


         // async()=>{
         //     try{
         //         let response;
         //         window.onload = async function () {   // 페이지가 보여지기 전에 우선적으로 실행됨
         //             response = await axios.get('/post/' + postId);
         //         }
         //         jsonResponse = JSON.parse(response);
         //     }catch (error){
         //         alert("404 에러");
         //     }
         // }

         function data(){
             return jsonData;
         }
     });

    </script>
    <!-- 맵 api key 삭제해야함 서버에서 환경변수값을 넘겨줘야 함-->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key="+${API_KEY} ></script>
    <style>
        #map_ma {width:100%; height:400px; clear:both; border:solid 1px red;}
    </style>
</head>
<body>
<h1>hello</h1>
<!--<div id="map_ma"></div>-->
<!--<script type="text/javascript">-->
<div>
    <input type="button" id="update" value="수정" onclick="sendData();">
    <input type="button" id="delete" value="삭제">
</div>
</body>
</html>