<!DOCTYPE html>
<html lang="en">
<style>
  .select {
    padding: 15px 10px;
  }
  .select input[type=radio]{
    display: none;
  }
  .select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 24px;
    width: 90px;
    border: 1px solid #333;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
  }
  .select input[type=radio]+label{
    background-color: #fff;
    color: #333;
  }
  .select input[type=radio]:checked+label{
    background-color: #333;
    color: #fff;
  }
</style>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시물 작성</title>
  <!-- 사진 업로드 기능 소스 -->
  <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
  <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
</head>
<body>
<!-- checked="checked" -->
<div class="select">
  <input type="radio" id="korea" name="race" onclick="showDiv(this);" ><label for="korea">Korea</label>
  <input type="radio" id="world" name="race"  onclick="showDiv(this);"><label for="world">World</label>
</div>

<div id = "koreaBox" class="box" style="display: none">
  <table>
    <tr>
      <th>제목</th>
      <td><input type="text" name="post" placeholder="title" /></td>
    </tr>
    <tr>
      <th>모집기간</th>
      <td><input type="text" name="post" placeholder="untilRecruit"/></td>
    </tr>
    <tr>
      <th>버킷 시작일</th>
      <td><input type="text" name="post" placeholder="date-start" /></td>
    </tr>
    <tr>
      <th>버킷 종료일</th>
      <td><input type="text" name="post" placeholder="date-finish" /></td>
    </tr>
    <tr>
      <th>비용</th>
      <td><input type="text" name="post" placeholder="3000000" /></td>
    </tr>
    <tr>
      <th>모집인원</th>
      <td><input type="text" name="post" placeholder="member" /></td>
    </tr>
    <tr>
      <th>카테고리</th>
      <td><input type="text" name="post" placeholder="category"/></td>

    </tr>
    <tr>
      <th>주소</th>
      <td><input type="text" id="address_kakao" name="post" readonly /></td>
    </tr>
    <tr>
      <th>내용</th>
      <td><input type="text" name="post" placeholder="content" /></td>
    </tr>
    <tr>
      <th>사진첨부</th>
      <td>
         <!-- <form action="dropzone.js" name="fileUploader"> 스크립트 따로 빼면 작동 안함-->
          <form name="fileUploader">
          <div class="dropzone" id="fileDropzone"></div> <button id="btn-upload-file">업로드</button>
        </form>

        <script>
          //fileDropzone dropzone 설정할 태그의 id로 지정
          Dropzone.options.fileDropzone = {
            url: 'http://localhost:8080/post/detailpost', //🔴 업로드할 url (ex)컨트롤러) 어디에 연결해야하지?
            method: 'post', // 기본 post로 request 감. put으로도 할수있음
            // headers: {
            //     Authorization: `Bearer` + token, // 🔴 Dropzone의 기본 설정은 파일을 올리는 순간 서버로 보내기에 header에 토큰을 붙여 보내야한다.
            // },

            init: function () {
              /* 최초 dropzone 설정시 init을 통해 호출 */
              var submitButton = document.querySelector("#btn-upload-file");
              var myDropzone = this; //closure
              submitButton.addEventListener("click", function () {
                console.log("🔵 업로드 성공"); //tell Dropzone to process all queued files
                myDropzone.processQueue();
              });
            },

            autoProcessQueue: false, // 자동업로드 여부 (true일 경우, 바로 업로드 되어지며, false일 경우, 서버에는 올라가지 않은 상태임 processQueue() 호출시 올라간다.)
            clickable: true, // 클릭가능여부
            paramName: 'image', // 서버에서 사용할 formdata 이름 설정 (default는 file)

            thumbnailHeight: 120, // Upload icon size
            thumbnailWidth: 120, // Upload icon size

            // maxFiles: 1, // 업로드 파일수
            maxFilesize: 10, // 최대업로드용량 : 10MB
            // parallelUploads: 1, // 동시파일업로드 수(이걸 지정한 수 만큼 여러파일을 한번에 컨트롤러에 넘긴다.)
            uploadMultiple: true, // 다중업로드 기능
            timeout: 300000, //커넥션 타임아웃 설정 -> 데이터가 클 경우 꼭 넉넉히 설정해주자

            addRemoveLinks: true, // 삭제버튼 표시 여부
            dictRemoveFile: '삭제', // 삭제버튼 표시 텍스트
            acceptedFiles: '.jpeg,.jpg,.png,.gif,.JPEG,.JPG,.PNG,.GIF' // 이미지 파일 포맷만 허용

          };
        </script>
      </td>
    </tr>
  </table>
</div>
<div name = "form" id = "worldBox" class="box" style="display: none">
  <table>
    <tr>
      <th>제목</th>
      <td><input type="text" id="title" name="post" placeholder="title" /></td>
    </tr>
    <tr>
      <th>모집기간</th>
      <td><input type="text" id="untilRecruit" name="post" placeholder="untilRecruit"/></td>
    </tr>
    <tr>
      <th>버킷 시작일</th>
      <td><input type="text" name="post" placeholder="date-start" /></td>
    </tr>
    <tr>
      <th>버킷 종료일</th>
      <td><input type="text" name="post" placeholder="date-finish" /></td>
    </tr>
    <tr>
      <th>비용</th>
      <td><input type="text" name="post" placeholder="3000000" /></td>
    </tr>
    <tr>
      <th>모집인원</th>
      <td><input type="text" id="member" name="post" placeholder="member" /></td>
    </tr>
    <tr>
      <th>카테고리</th>
      <td><input type="text" id="cartegory" name="post" placeholder="category"/></td>
    </tr>
    <tr>
      <th>영문 주소</th>
      <td><input type="text" id="address" name="post" placeholder="5 Avenue Anatole France, 75007 Paris, France"/></td>
    </tr>
    <tr>
      <th>내용</th>
      <td><input type="text" name="post" placeholder="content" /></td>
    </tr>
  </table>
</div>
<input type="submit" id="submit" value="입력" >
</body>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<!-- 주소 검색 api 사용-->
<script>
  window.onload = function(){
    document.getElementById("address_kakao").addEventListener("click", function(){ //주소입력칸을 클릭하면
      //카카오 지도 발생
      new daum.Postcode({
        oncomplete: function(data) { //선택시 입력값 세팅
          document.getElementById("address_kakao").value = data.address; // 주소 넣기
          document.querySelector("input[name=post]").focus(); //상세입력 포커싱
        }
      }).open();
    });
  }


  <!-- 라디오 버튼 클릭시 동작 -->
  function showDiv(element){
    var tag = document.getElementsByClassName("box");   // class 이름이 box인 값들을 가져옴

    for(var i =0; i<tag.length; i++){     // tag[0] = koreanBox, tag[1] = foreignerBox
      if(element.id+"Box"== tag[i].id)    // korean+"Box"가 tag[0]의 값과 같을때 해당 div 출력
        tag[i].style.display = "block";
      else                                // 다르다면 div 숨기기
        tag[i].style.display = "none";
    }
  }
</script>



<script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
  window.onload = function(){
    document.getElementById("address_kakao").addEventListener("click", function(){ //주소입력칸을 클릭하면
      //카카오 지도 발생
      new daum.Postcode({
        oncomplete: function(data) { //선택시 입력값 세팅
          document.getElementById("address_kakao").value = data.address; // 주소 넣기
          document.querySelector("input[name=post]").focus(); //상세입력 포커싱
        }
      }).open();
    });
  }


  <!-- 라디오 버튼 클릭시 동작 -->
  function showDiv(element){
    var tag = document.getElementsByClassName("box");   // class 이름이 box인 값들을 가져옴

    for(var i =0; i<tag.length; i++){     // tag[0] = koreanBox, tag[1] = foreignerBox
      if(element.id+"Box"== tag[i].id)    // korean+"Box"가 tag[0]의 값과 같을때 해당 div 출력
        tag[i].style.display = "block";
      else                                // 다르다면 div 숨기기
        tag[i].style.display = "none";
    }
  }

  $(document).ready(function(){
    $("#submit").click(function() {

      // 게시물 배열 선언
      let arr = [];

      $('input[name="post"]').each(function(index,item){ // 모든 값 배열에 저장
        arr.push($(item).val());
      });


      var finddata = $("#address_kakao").val();   // 국내 주소 값 저장

      if(finddata.length <1){     // 만약 국내 주소 값의 크기가 1보다 작을때, 즉 국내에서 데이터를 작성한 것이 아닐때
        alert("world data")
        var WorldData = {       // 해외 데이터
          "title" : arr[9],       // 제목
          "untilRecruit" : arr[10],    // 모집종료 날짜
          "eventStart" : arr[11],       // 시작일
          "eventEnd" : arr[12],          // 종료일
          "cost" : arr[13],              // 비용
          "entrantNum" : arr[14],         // 모집인원
          "category" : arr[15],       // 카테고리
          "location" : arr[16],        // 장소
          "content" : arr[17]         // 내용
        }

        //ajax 호출
        $.ajax({
          type        :   "post",
          url         :   "/post/detailpost",
          headers : {
            "Content-Type" : "application/json"
          },
          dataType    :   "text",
          // contentType :   "application/json",
          data        :   JSON.stringify(WorldData),
          async : false,
          success     :   function(data){
            console.log(data);
            let url = '/map?postId=${data}';
            window.location.replace(url);
          }
        });
      }

      else{           // 국내에서 작성했을때
        alert("korea data")
        var KoreaData = {         // 한국 데이터
          "title" : arr[0],       // 제목
          "untilRecruit" : arr[1],    // 모집종료 날짜
          "eventStart" : arr[2],       // 시작일
          "eventEnd" : arr[3],          // 종료일
          "cost" : arr[4],              // 비용
          "entrantNum" : arr[5],         // 모집인원
          "category" : arr[6],       // 카테고리
          "location" : arr[7],        // 장소
          "content" : arr[8]         // 내용
        }

        //ajax 호출
        $.ajax({
          type        :   "post",
          url         :   "/post/detailpost",
          headers : {
            "Content-Type" : "application/json",
          },
          dataType    :   "text",
          // contentType :   "application/json",
          data        :   JSON.stringify(KoreaData),
          async : false,
          success     :   function(data){      // server에서 결과값 받아옴
            let url = "/post/"+data;
            window.location.replace(url);     // ajax에서 redirect 진행
          }
        });
      }
    })
  });
</script>
</html>